<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-language" content="en">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="test-mode" content="REPLACE_TEST_MODE">
  <title>Tests List</title>
</head>
<body>
  <header>
    <h1>Rebase Labs</h1>

    <div class="search-token">
      <form class="search-token" method="GET">
        <input type="text" id="token" name="token" placeholder="Token...">
        <button type="submit">Search</button>
      </form>
      <button id='back' class="back-list-none">Back to list</button>
    </div>


  <form class="csv-upload" method="POST" enctype="multipart/form-data">
    <label for="csvFile" id="fileLabel">Import CSV file</label>
    <input type="file" id="csvFile" name="csvFile" accept=".csv">
    <button type="submit" lang="en">Upload</button>
  </form>
  </header>

  <main>
    <table border="1" class="table-model">
      <thead>
        <tr>
          <th id="doctor"></th>
          <th id="patient"></th>
          <th id="exam"></th>
        </tr>
        <tr>
          <th>Test Type</th>
          <th>Limits</th>
          <th>Results</th>
        </tr>
      </thead>
      <tbody>     
      </tbody>
    </table>
    
    <section id="tables-list"></section>
  </main>

  <script type="module" src="js/main.js"></script>
</body>
</html>